{% extends "base.html" %}

{% block title %} Registro {% endblock %}

{% block 'content' %}
<div class="container">
    
<h2 class="text-center py-4">Registro de Usuario</h2>
<hr class="border-2" />

<form action="{% url "registro" %}" method="post"> 
    {% csrf_token %}
    <div>
        <label class="form-label" for="id_username">Nombre de usuario</label>
        <input class="form-control" type="text" name="username" maxlength="64" required="True" id="id_username">        
    </div>
    <div>
        <label class="form-label" for="id_email">Correo Electrónico</label>
        <input class="form-control" type="email" name="email" maxlength="320" placeholder="name@example.com" required="" id="id_email">        
    </div> 
    <div>
        <label class="form-label" for="id_password">Contraseña</label>
        <input class="form-control" type="password" name="password" maxlength="64" required="True" id="id_password">        
    </div>   
    <div>
        <label class="form-label" for="id_first_name">Nombre</label>
        <input class="form-control" type="text" name="first_name" maxlength="64" required="True" id="id_first_name">
    </div>    
    <div>
        <label class="form-label" for="id_last_name">Apellido</label>
        <input class="form-control" type="text" name="last_name" maxlength="64" required="True" id="id_last_name">
    </div>
    <div>
        <label class="form-label" for="id_rut">Rut</label>
        <input class="form-control" type="text" name="rut" maxlength="64" required="True" id="id_rut">
    </div>
    <div>
        <label class="form-label" for="id_telefono">Teléfono</label>
        <input class="form-control" type="text" name="telefono" maxlength="64" required="True" id="id_telefono">
    </div>

    <button type="submit" class="btn btn-primary bg-primary my-3">Registrarse</button>
</form>

</div>
{% endblock%}